{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}DBCON!{% endblock %}

{% block primary %}


<h1><a href="/dbcon">DataBase Connection Test</a>;</h2>

{{ event_dates_list.date }}

{% if latest_event_list %}

    <ul>
    {% for event in latest_event_list %}
		<h2><a href="/dbcon/{{ event.datestr }}/dates">{{ event.datestr }}</a></h2>
		<li><a href="/dbcon/{{ event.id }}/tweets">
										{%for keys in event.keylist %}
												{{ keys }}
										{% endfor %}</a></li>
    {% endfor %}
    </ul>

    {% if is_paginated %}
        <div class="pagination">
            <span class="page-links">
                {% if page_obj.has_previous %}
                    <a href="/dbcon?page={{ page_obj.previous_page_number }}">Previous</a>
                {% endif %}
                <span class="page-current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>
                {% if page_obj.has_next %}
                    <a href="/dbcon?page={{ page_obj.next_page_number }}">Next</a>
                {% endif %}
            </span>
        </div>
    {% endif %}

{% else %}
    <p>No Events Found</p>
{% endif %}


    		     
{% endblock %}

