{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}LaMa Events{% endblock %}

{% block primary %}


<h1><a href="/">LaMa Events</a></h2>

Choose a date to see the events at that time;

<br><br>

<table >
	{% for x in totallist %}
		{% if forloop.counter0|divisibleby:5 %}<tr>{% endif %}
			{% if not x.eventObjlist %}
				<td id="outnoeve">
					<table>
						<tr><a id ="noevent">{{ x.datelist }}</a></tr>
						<td id="innertd"> </td>
					</table>
				</td>
			{% else %}
				<td id="outeve"><a href="/{{ x.datelist }}/events" id="event">
					<table>
						<tr>{{ x.datelist }}</tr>
						<td id="innertd"><ul>
								{% for aba in x.eventObjlist %}
									{% for keys in aba.keylist %}
										</li>{{ keys }}</li>
									{% endfor %}
								{% endfor %}
						</td></ul>
					</table></a>
				</td>
			{% endif %}
		{% if forloop.counter|divisibleby:5 %}<tr>{% endif %}
	{% endfor %}
</table>

<br><br>


    		     
{% endblock %}

