{% extends 'base.html' %}
{% load staticfiles %}


{% block title %}LaMa Events{% endblock %}


{% block inhead %}

<script src="{% static 'dbcon/jquery/jquery-1.11.1.min.js' %}"></script>
<script src="{% static 'dbcon/jquery/jquery-ui-1.11.1/jquery-ui.js' %}"></script>

<link rel="stylesheet" href="{% static 'dbcon/jquery/jquery-ui-themes-1.11.1/themes/smoothness/jquery-ui.css' %}"/>

<link rel="stylesheet" type="text/css" href="{% static 'dbcon/dbcon.css' %}" />

{% endblock %}



{% block script %}

$(function() {
	var pickerOpts = {
		dateFormat: 'dd-mm-yy',
		changeMonth: true,
		changeYear: true,
		showAnim: 'drop',
	};  
	$( "#datepicker" ).datepicker(pickerOpts);
    $( "#datepicker2" ).datepicker(pickerOpts);
});


var $logo = $('#logo-scroll');
$(document).scroll(function() {
    $logo.css({display: $(this).scrollTop() > 100? "block":"none"});
});

{% endblock %}



{% block pri_sidebar %}


<div id="logo_scroll"><img src="{% static 'base/images/lama-events.png' %}" /></div>

<table>

	<tr>
		<form method="post" action="/">                                                             
			{% csrf_token %}
			<tr> <h3>Search by Date : </h3>	</tr>
			<tr> <input type="text" name="start_date" id="datepicker" placeholder="Start Date (dd-mm-yy)" required/>	</tr>
			<tr> <input type="text" name="end_date" id="datepicker2" placeholder="End Date (dd-mm-yy)" required/>	</tr>
			<tr> <button type="submit" name="date_picker">Search</button>	</tr>
		</form>
	</tr>

<br><br>

	<tr>
		<form method="post" action="/">                                                             
			{% csrf_token %}
			<tr> <h3>Search by Hour : </h3>	</tr>
			<tr> <input type="number" name="search_hour" placeholder="Hour" required/>	</tr>
			<tr> <input type="number" name="hour_range" placeholder="Range" required/>	</tr>
			<tr> <button type="submit" name="ttee">Search</button>	</tr>
		</form>
	</tr>

<br><br>

	<tr>
		<form method="post" action="/">                                                             
			{% csrf_token %}
			<tr> <h3>Search by Keyterm : </h3>	</tr>
			<tr> <input type="text" name="fst_key" placeholder="First Search Term" />	</tr>
			<tr> <input type="text" name="snd_key" placeholder="Second Search Term" />	</tr>
			<tr> <button type="submit" name="event_search">Search</button>	</tr>
		</form>
	</tr>

</table>


{% endblock %}



{% block pri_content %}


{% if totallist%}


{% block intervalseeker %}{% endblock %}


<br>
	<table>
		{% for x in totallist %}
			{% if forloop.counter0|divisibleby:3 %}
				<tr>
			{% endif %}
				{% if not x.eventObjlist %}
					<td id="noeventd">
						<table>
							<tr>
								{{ x.dateliststr }}
								<td id="innertd">  </td>
							</tr>
						</table>
					</td>
				{% else %}
					<td id="eventd">
						<table>
							<tr>
								<a href="/{{ x.datelist }}/events">{{ x.dateliststr }}</a>
								<td id="innertd">
									<ul>
										{% for eventObj in x.eventObjlist %}
											<li>
												<a href="/{{ eventObj.id }}/eventDetail">
													{% for keys in eventObj.keylist %}
														{{ keys }}{% if forloop.last %}{% else %},{% endif %}
													{% endfor %}
												</a>
											</li>
										{% endfor %}
									</ul>
								</td>
							</tr>
						</table>
					</td>
			{% endif %}
			{% if forloop.counter|divisibleby:3 %}
				</tr>
			{% endif %}
		{% endfor %}
	</table>

{% else %}

	<h3>There is no date!</h3>
	<h4>Reminder : 'End Date' must comes after 'Start Date'</h4>

{% endif %}


{% endblock %}

