{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}Events{% endblock %}



{% block header %}

<h1>Events of {{ eventDate }}</h2>

{% endblock %}



{% block primary %}


{% if events_date_list %}

<p>Click the keyterms to see the details of the event;</p>

<ul>
	{%for event in events_date_list %}
		<li><a href="/{{ event.id }}/eventDetail">
					{%for keys in event.keylist %}
							{{ keys }}
					{% endfor %}</a></li>
	{% endfor %}
</ul>

{% else %}

    <p>Events Not Found</p>

{% endif %}

    		     
{% endblock %}

