{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}Events{% endblock %}



{% block header %}

<img id="logo" src="{% static 'dbcon/images/lama-logo.png' %}" alt="Lama-Logo">


{% endblock %}



{% block primary %}

<h1>

	<div id="prevbtn">
	<a href="/{{ prevDay }}/events" >
	<img src="{% static 'base/images/backbtn.png' %}" >
	</a>
	</div>

	Events of {{ eventDate }}

	<div id="nextbtn">
	<a href="/{{ nextDay }}/events">
	<img src="{% static 'base/images/forwbtn.png' %}" >
	</a>
	</div>

</h1>

{% if events_date_list %}

<p>Click the keyterms to see the details of the event;</p>

<ul>
	{%for event in events_date_list %}
		<li><a href="/{{ event.id }}/eventDetail">
					{{ event.keylistwc }}
</a></li>
	{% endfor %}
</ul>

{% else %}

    <p>There is no event on this day.</p>

{% endif %}

    		     
{% endblock %}

