{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}Tweets{% endblock %}


{% block head %}

<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>

{% endblock %}


{% block header %}

<img id="logo" src="{% static 'dbcon/images/lama-logo.png' %}" alt="Lama-Logo">

<h1>Event Detail</h2>

{% endblock %}



{% block primary %}


<h3>Keyterms for this event ;</h3>
{{ event.keylistwc }}

<h3>Estimation for this Event ;</h3>
{{ event.datestr }}

<h3>Time to Event Estimation;</h3>
{{ event.Estimationstr }}
<br>
{{ event.timeLeft }} hours left

<h3>Tweets of the Event;</h3>


{%for tweet in event.tweets %}
	<blockquote class="twitter-tweet tw-align-center" lang="en"><a href="https://twitter.com/{{ tweet.user }}D/statuses/{{ tweet.id }}"></a></blockquote>
{% endfor %}

    		     
{% endblock %}

