{% extends 'dbcon.html' %}
{% load staticfiles %}


{% block title %}Events of {{ eventDate }}{% endblock %}


{% block pri_content %}

<h1>

	<a href="/{{ prevDay }}/events" ><div id="prevbtn"></div></a>

	Events of {{ eventDate }}
	
	<a href="/{{ nextDay }}/events"><div id="nextbtn"></div></a>

</h1>

{% if events_date_list %}

<p>Click the keyterms to see the details of the event;</p>

<ul>
	{%for event in events_date_list %}
		<li><a href="/{{ event.id }}/eventDetail">
					{{ event.keylistwc }}
</a></li>
	{% endfor %}
</ul>

{% else %}

    <p>There is no event on this day.</p>

{% endif %}

    		     
{% endblock %}

