{% extends 'dbcon.html' %}
{% load staticfiles %}


{% block title %}Event Detail{% endblock %}


{% block pri_content %}

<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>

<h1>Event Detail</h1>


<h3>Keyterms for this event ;</h3>
{{ event.keylistwc }}


<h3>Estimation for this Event ;</h3>
{{ event.datestr }}


<h3>Time to Event Estimation;</h3>
{{ event.Estimationstr }}
<br>
{{ event.timeLeft }}


<h3>Tweets of the Event;</h3>


<table>
	{%for tweet in event.tweets %}
		{% if forloop.counter0|divisibleby:2 %}<tr>{% endif %}
			<td style="width: 400px;">
				<blockquote class="twitter-tweet tw-align-center" data-conversation="none" data-cards="hidden" lang="en">
					<a href="https://twitter.com/{{ tweet.user }}D/statuses/{{ tweet.id }}"></a></blockquote>
			</td>
		{% if forloop.counter|divisibleby:2 %}<tr>{% endif %}
	{% endfor %}
</table>
    		     
{% endblock %}

