{% extends 'dbcon.html' %}
{% load staticfiles %}


{% block title %}Time To Event Estimation{% endblock %}


{% block pri_content %}


{% if event_list %}

	<h3>The events between {{ startHour }} and {{ endHour }} ;</h3>

	<table>
			<tr>
				<th id="eventKeys">Keyterms  </th>
				<th id="timeLeft">Remaining Time </th>	
			</tr>
		{%for event in event_list %}
			<tr>
				<td id="eventKeys"><a href="/{{ event.id }}/eventDetail">{{ event.keylistwc }}</a>  </td>
				<td id="timeLeft"> {{ event.timeLeft }} </td>		
			</tr>
		{% endfor %}

	</table>


{% else %}

    <h3>No events found between {{ startHour }} and {{ endHour }}</h3>


{% endif %}


{% endblock %}
