{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}Tweets{% endblock %}

{% block primary %}


<h1><a href="/">Tweets of the Event</a></h2>


Keyterms for this event ;<br>
{%for keys in event.keylist %}
		{{ keys }}
{% endfor %}

<br><br>
Estimation for this event ;<br>
{{ event.datestr }}

<br><br>
If you click the texts, you can see the original tweet in twitter.com.

<ul>
  {%for tweet in event.tweets %}
		<li><a href="https://twitter.com/{{ tweet.user }}/status/{{ tweet.id }}">{{ tweet.text }}</a></li>
  {% endfor %}
</ul>



    		     
{% endblock %}

