alabaster==0.7.10
Babel==2.5.3
beautifulsoup4==4.5.3
Django==2.0.7
django-browserid==2.0.2
django-classy-tags==0.8.0
django-missing==0.1.18
django-sekizai==0.10.0
djangotoolbox==1.8.0
docutils==0.14
imagesize==0.7.1
Jinja2==2.10
MarkupSafe==1.0
oauthlib==2.0.2
Pygments==2.2.0
pymongo==2.8
pytz==2015.4
requests==2.13.0
requests-oauthlib==0.8.0
six==1.10.0
snowballstemmer==1.2.1
Sphinx==1.6.6
sphinxcontrib-websupport==1.0.1
tweepy==3.5.0
typing==3.6.4
