{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="shortcut icon" href="{% static 'base/images/just-lama.png' %}" />
<title>{% block title %}{% endblock %}</title>


<link rel="stylesheet" type="text/css" href="{% static 'base/mobile.css' %}" />


{% block ex_head %}{% endblock %}


<script>

{% block script %}{% endblock %}

</script>


</head>


<body>


<div id="wrapper">

	<div id="github">

		<a href="https://github.com/ErkanBasar/LamaEvents" >
			<img  src="{% static 'base/images/github_left.png' %}"></a>

	</div>


	<div id="header">

		<a href="/"><img src="{% static 'base/images/lama-events.png' %}"/></a>
  
	</div>
		

	<div id="primary">

		<div id="pri_sidebar">
			{% block pri_sidebar %}{% endblock %}
		</div>

		<div id="cleaner"></div>

		<div id="pri_content">
			{% block pri_content %}{% endblock %}
		</div>

		<div id="cleaner"></div>

	</div>


	<div id="bar">

		<img src="{% static 'base/images/lama-logo.png' %}"/>

		<a href="http://project-infiniti.nl/">
			<img src="{% static 'base/images/infiniti.png' %}"/></a>

		<a href="http://commit-nl.nl/">
			<img src="{% static 'base/images/commit.png' %}"/></a>

		<a href="http://ru.nl/">
			<img src="{% static 'base/images/radboud.png' %}"/></a>



	</div>


</div>

</body>
</html>
