{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="shortcut icon" href="{% static 'base/images/just-lama.png' %}" />
<title>{% block title %}{% endblock %}</title>

{% block ex_head %}{% endblock %}

<link rel="stylesheet" type="text/css" href="{% static 'base/mobile.css' %}" />


<script>

{% block script %}{% endblock %}

</script>


</head>


<body>


<div id="wrapper">

	{% block github %}{% endblock %}

	<div id="header">

		<a href="{{ urlprefix }}/"><img src="{% static 'base/images/lama-events.png' %}"/></a>
  
	</div>
		

	<div id="primary">

		<div id="pri_content">
			{% block pri_content %}{% endblock %}
		</div>

		<div id="cleaner"></div>

		{% block search %}{% endblock %}

		<div id="cleaner"></div>

		{% block about %}
			<a href="{{ urlprefix }}/about">
				<img style="width: 200px;" src="{% static 'base/images/aboutbtn.png' %}"/></a>
		{% endblock %}

		<a href="https://twitter.com/Adnext_Commit">
				<img style="width: 200px;" src="{% static 'base/images/twitter-logo.png' %}"/></a>

	</div>


	<div id="bar">

		<img src="{% static 'base/images/lama-logo.png' %}"/>

		<a href="http://project-infiniti.nl/">
			<img src="{% static 'base/images/infiniti.png' %}"/></a>

		<a href="http://commit-nl.nl/">
			<img src="{% static 'base/images/commit.png' %}"/></a>

		<a href="http://ru.nl/">
			<img src="{% static 'base/images/radboud.png' %}"/></a>

		</br>

		<a href="http://twiqs.nl/">
			<img src="{% static 'base/images/twiqs.png' %}"/></a>

	</div>


</div>

</body>
</html>
