{% extends 'mobile/dbcon.mobile.html' %}
{% load staticfiles %}


{% block title %}Events op {{ eventDate }}{% endblock %}


{% block en_about %}{% endblock %}


{% block pri_content %}

<header> 

		<a href="{{ urlprefix }}/{{ prevDay }}/events" class="pijl-links"> 
				<i class="pijl-icon icon-pijl-links"></i>eerder</a>
				
		<a href="{{ urlprefix }}/{{ nextDay }}/events" class="pijl-rechts">later
				<i class="pijl-icon icon-pijl-rechts"></i></a>
				
				<h1>Events op {{ eventDate }}</h1>

</header>


{% if events_date_list %}

	<p>Klik op de sleutelwoorden om informatie over het event te zien:</p>

	<ul>
		{%for event in events_date_list %}
			<li><a href="{{ urlprefix }}/{{ event.id }}/eventDetail">
						{% for keys in event.keylist %}
								{{ keys }}{% if forloop.last %}{% else %},{% endif %}
						{% endfor %}
			</a></li>
		{% endfor %}
	</ul>

{% else %}

    <p>Er is geen event gevonden op deze dag.</p>



{% endif %}

    		     
{% endblock %}

