{% extends 'mobile/dbcon.mobile.html' %}
{% load staticfiles %}


{% block title %}Event Informatie{% endblock %}


{% block pri_content %}

<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>

<h1>Event Informatie</h1>


<h3>Sleutelwoorden voor dit event:</h3>
{% for keys in event.keylist %}
	{{ keys }}{% if forloop.last %}{% else %},{% endif %}
{% endfor %}


<h3>Geschatte datum voor dit event:</h3>
<a href="{{ urlprefix }}/{{ event.linkDate }}/events">{{ event.datestr }}</a>


<h3>Geschatte tijd tot de aanvang van het event:</h3>
{{ event.Estimationstr }}
<br>
{{ event.timeLeft }}


<h3>Tweets over het event:</h3>


<table>
	{%for tweet in event.tweets %}
		{% if forloop.counter0|divisibleby:1 %}<tr>{% endif %}
			<td style="width: 500px;">
				<blockquote class="twitter-tweet tw-align-center" data-conversation="none" data-cards="hidden" lang="en">
					<a href="https://twitter.com/{{ tweet.user }}D/statuses/{{ tweet.id }}"></a></blockquote>
			</td>
		{% if forloop.counter|divisibleby:1 %}<tr>{% endif %}
	{% endfor %}
</table>
    		     
{% endblock %}

