{% extends 'desktop/dbcon.html' %}
{% load staticfiles %}


{% block intervalseeker %}


<header> 

		<a href="{{ urlprefix }}/intervalseek/from:{{ prevDate }}to:{{ currDate }}" class="pijl-links"> 
				<i class="pijl-icon icon-pijl-links"></i>eerder</a>
				
		<a href="{{ urlprefix }}/intervalseek/from:{{ nextDate }}to:{{ nextnextDate }}" class="pijl-rechts">later
				<i class="pijl-icon icon-pijl-rechts"></i></a>
				
				<h1>Events voor de komende {{ timeIntstr }} dagen</h1>

</header>


{% endblock %}
