{% extends 'mobile/dbcon.mobile.html' %}
{% load staticfiles %}


{% block title %}Geschatte tijd tot de aanvang van het event{% endblock %}


{% block pri_content %}


{% if event_list %}

	<h3>De events tussen {{ startHour }} en {{ endHour }} ;</h3>

	<table>
			<tr>
				<th id="eventKeys">Sleutelwoorden  </th>
				<th id="timeLeft">Aantal dagen tot het event </th>	
			</tr>
		{%for event in event_list %}
			<tr>
				<td id="eventKeys">
						<a href="{{ urlprefix }}/{{ event.id }}/eventDetail">
									{% for keys in event.keylist %}
												{{ keys }}{% if forloop.last %}{% else %},{% endif %}
									{% endfor %}
						</a>  
				</td>
				<td id="timeLeft"> {{ event.timeLeft }} </td>		
			</tr>
		{% endfor %}

	</table>


{% else %}

    <h3>Er zijn geen events gevonden tussen {{ startHour }} en {{ endHour }}</h3>


{% endif %}


{% endblock %}
