{% extends 'desktop/dbcon.html' %}
{% load staticfiles %}


{% block title %}Events op {{ eventDate }}{% endblock %}


{% block pri_content %}

<h1>

	<a href="{{ urlprefix }}/{{ prevDay }}/events" ><div id="prevbtn"></div></a>

	Events op {{ eventDate }}
	
	<a href="{{ urlprefix }}/{{ nextDay }}/events"><div id="nextbtn"></div></a>

</h1>

{% if events_date_list %}

<p>Klik op de sleutelwoorden om informatie over het event te zien;</p>

<ul>
	{%for event in events_date_list %}
		<li><a href="{{ urlprefix }}/{{ event.id }}/eventDetail">
					{% for keys in event.keylist %}
							{{ keys }}{% if forloop.last %}{% else %},{% endif %}
					{% endfor %}
		</a></li>
	{% endfor %}
</ul>

{% else %}

    <p>Er is geen event gevonden op deze dag.</p>



{% endif %}

    		     
{% endblock %}

