{% extends 'desktop/base.html' %}
{% load staticfiles %}

{% block title %}Over Lama Events{% endblock %}


{% block github %}
	<div id="github">
		<a href="https://github.com/ErkanBasar/LamaEvents">
			<img  src="{% static 'base/images/github.png' %}"></a>
	</div>
{% endblock %}


{% block pri_content %}

<div style="text-align: left">

	<h3>Over Lama Events</h3>

	<p>
		Lama Events is een kalender gevuld met gebeurtenissen in de nabije toekomst. 
		De gebeurtenissen zijn volledig automatisch gedetecteerd in de grote stroom van 
		Nederlandse tweets op Twitter.com (beschikbaar dankzij <a href="http://twiqs.nl">Twiqs.nl</a>). Tweets die naar 
		dezelfde gebeurtenis wijzen worden door Lama Events gegroepeerd op basis van het vaak 
		voorkomen van bepaalde woorden (namen, frasen) en tijdsuitdrukkingen die karakteristiek 
		zijn voor de gebeurtenis. De datum en het tijdstip van het event wordt automatisch bepaald 
		op basis van directe en indirecte verwijzingen naar tijd in de teksten van gegroepeerde tweets.
	</p>

	<p>
		Lama Events is anders dan andere kalenderapplicaties omdat het volledig automatisch 
		werkt en omdat de selectie van gebeurtenissen heel breed is. Lama Events detecteert niet 
		alleen grote sportevenementen, concerten of lanceringen van de nieuwe iPhone, maar vangt 
		ook gebeurtenissen op met een veel regionaler karakter en een kleinere schaal.
	</p>

	<p>
		Lama Events maakt fouten! Soms projecteert het gebeurtenissen uit het verleden in de 
		toekomst, en soms worden tweets bij elkaar gegroepeerd die niet naar dezelfde gebeurtenissen 
		verwijzen. De geschatte datum en het geschatte tijdstip lopen soms uiteen. Lama Events maakt 
		deel uit van lopend onderzoek van de Language and Speech Technology onderzoeksgroep van het 
		Centre for Language Studies van de Radboud Universiteit.
	</p>

	<p>	
		Lama Events is ontwikkeld door Mustafa Erkan Başar  
		(<a href="https://twitter.com/me_basar">@me_basar</a>)(programmeren, ontwerp) op 
		basis van onderzoek van Florian Kunneman (<a href="https://twitter.com/fkunneman">@fkunneman</a>) 
		en Ali Hürriyetoğlu (<a href="https://twitter.com/hurrial">@hurrial</a>), 
		in het kader van het 
		<a href="http://www.commit-nl.nl/projects/wp-packages/adaptive-information-extraction-over-time-adnext">ADNEXT</a> 
		(<a href="https://twitter.com/Adnext_Commit">@Adnext_Commit</a>) 
		werkpakket van het 
		<a href="http://www.commit-nl.nl/">COMMIT</a>/
		<a href="http://project-infiniti.nl/">Infiniti-project</a> (<a href="https://twitter.com/COMMIT_nl">@COMMIT_nl</a>), 
		met bijdragen van Nelleke Oostdijk, 
		Antal van den Bosch (<a href="https://twitter.com/antalvdb">@antalvdb</a>), 
		Maarten van Gompel (<a href="https://twitter.com/proycon">@proycon</a>), 
		en Erik Tjong Kim Sang (<a href="https://twitter.com/tkserik">@tkserik</a>). Het werk van 
		Erkan Başar is mogelijk gemaakt door het Erasmusprogramma.
	</p>

</br>

	<h3>About Lama Events</h3>

	<p>	
		Lama Events is a calendar application listing events in the near future. The events are detected 
		and selected by a fully automatic procedure in the Dutch Twitter stream (courtesy of <a href="http://twiqs.nl">Twiqs.nl</a>). 
		Tweets referring to the same future events are clustered based on the frequent co-occurrence of 
		words (names, phrases) and temporal expressions that characterize the event. The date and time of 
		the event is automatically determined based on direct and indirect time references in the texts of 
		the tweets in a cluster. The demo shows a day-by-day ranked list of automatically detected events 
		in the Dutch language area (Netherlands and Flanders).
	</p>

	<p>	
		Lama Events is different from other future calendar applications because of its fully automatic
		 operation, and because of its broad focus on any social events. It does not only list big events 
		such as sports games, concerts, or iPhone releases, but it will also catch events that no other 
		calendar lists: smaller-scale regional events.
	</p>

	<p>	
		Lama Events makes mistakes! It occasionally projects a past event into the future, and sometimes 
		groups together tweets that do not refer to the same event. The estimated date and the estimated 
		time in hours:minutes may differ. Lama event is part of ongoing research at the Language and 
		Speech Technology group of the Centre for Language Studies at Radboud University Nijmegen.
	</p>

	<p>	
		Lama Events was developed by Mustafa Erkan Başar (<a href="https://twitter.com/me_basar">@me_basar</a>)(programming, design)  on the basis 
		of research by Florian Kunneman (<a href="https://twitter.com/fkunneman">@fkunneman</a>) and 
		Ali Hürriyetoğlu (<a href="https://twitter.com/hurrial">@hurrial</a>) as part of 
		the <a href="http://www.commit-nl.nl/projects/wp-packages/adaptive-information-extraction-over-time-adnext">ADNEXT</a>  
		(<a href="https://twitter.com/Adnext_Commit">@Adnext_Commit</a>) 
		work package of the <a href="http://www.commit-nl.nl/">COMMIT</a>/ 
		<a href="http://project-infiniti.nl/">Infiniti-project</a> 
		(<a href="https://twitter.com/COMMIT_nl">@COMMIT_nl</a>) project, with 
		contributions from Nelleke Oostdijk, Antal van den Bosch 
		(<a href="https://twitter.com/antalvdb">@antalvdb</a>), Maarten van Gompel 
		(<a href="https://twitter.com/proycon">@proycon</a>), and 
		Erik Tjong Kim Sang (<a href="https://twitter.com/tkserik">@tkserik</a>). 
		Erkan Başar's work was made possible by the 
		Erasmus programme.
	</p>

</div>

{% endblock %}


{% block about %}{% endblock %}

{% block timeline %}
	<div class="sidebar_box">
		<a class="twitter-timeline" height="900px" lang="nl" href="https://twitter.com/Adnext_Commit" data-widget-id="509682171930357761">@Adnext_Commit</a>
		<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
	</div>
{% endblock %}





