{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="shortcut icon" href="{% static 'base/images/just-lama.png' %}" />
<title>{% block title %}{% endblock %}</title>

<script src="{% static 'dbcon/jquery/jquery-1.11.1.min.js' %}"></script>
<script src="{% static 'dbcon/jquery/jquery-ui-1.11.1/jquery-ui.js' %}"></script>

<link rel="stylesheet" href="{% static 'dbcon/jquery/jquery-ui-themes-1.11.1/themes/smoothness/jquery-ui.css' %}"/>


<link rel="stylesheet" type="text/css" href="{% static 'base/desktop.css' %}" />


<script>

{% block script %}{% endblock %}

</script>


</head>


<body>


<div id="blanker"></div>


<div id="wrapper">

	<div id="github">

		<a href="https://github.com/ErkanBasar/LamaEvents">
			<img  src="{% static 'base/images/github.png' %}"></a>

	</div>


	<div id="header">

		<a href="{{ urlprefix }}/"><img src="{% static 'base/images/lama-events.png' %}"/></a>
  
	</div>
		

	<div id="primary">

		<div id="pri_content">
			{% block pri_content %}{% endblock %}
		</div>

		<div id="pri_sidebar">

			<div class="sidebar_box">
				{% block pri_sidebar %}{% endblock %}
			</div> 

			<div class="sidebar_box">
				<h3>Over deze pagina</h3>
				<a href="{{ urlprefix }}{% url 'about' %}">Lees meer &raquo;</a>	
			</div>   

		</div>

		<div id="cleaner"></div>

	</div>


	<div id="bar">

		<img src="{% static 'base/images/lama-logo.png' %}"/>

		<a href="http://project-infiniti.nl/">
			<img src="{% static 'base/images/infiniti.png' %}"/></a>

		<a href="http://commit-nl.nl/">
			<img src="{% static 'base/images/commit.png' %}"/></a>

		<a href="http://ru.nl/">
			<img src="{% static 'base/images/radboud.png' %}"/></a>

	</div>


</div>

	
<div id="blanker"></div>

</body>
</html>
