{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

	<link rel="shortcut icon" href="{% static 'base/images/favicon.png' %}" />	

	<title>{% block title %}{% endblock %}</title>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>

	<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">

	<link rel="stylesheet" type="text/css" href="{% static 'base/normalize.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'base/main.css' %}" />

	<style type="text/css">
		{% block css_extra %}{% endblock %}
	</style>

	<style>
		a:active {
                background-color:#ADD8E6;
        	}
	</style>

	<script>
		$(function() {
			var pickerOpts = {
				dateFormat: 'dd-mm-yy',
				changeMonth: true,
				changeYear: true,
				showAnim: 'drop',
				monthNamesShort: [ "Jan", "Feb", "Mrt", "Apr", "Mei", "Jun", "Jul", "Aug", "Sept", "Okt", "Nov", "Dec" ],
				dayNamesMin: [ "Zo", "Ma", "Di", "Wo", "Do", "Vr", "Za" ]
			};  
			$( "#datepicker1" ).datepicker(pickerOpts);
		        $( "#datepicker2" ).datepicker(pickerOpts);
               
		});
	</script>

	<script>
                """ This function works when the user cklick on the search bottom, then we need to know if he chekced any of checklist boxs """
		function getValue(self, evenementen, lst_qty) {
			var checks = document.getElementsByClassName('check');
			var evenementen = [];
			var lst_qty = 0;
			for (i = 0; i < 10; i++) {
				if ( checks[i].checked === true ) {
					if (lst_qty === 0) {								
						evenementen = '"' + checks[i].value + '"';
					}
					else {
						evenementen = evenementen + ', ' + '"' + checks[i].value + '"';
					}
					lst_qty += 1;
				}
			}
                        return lst_qty;
		}
	</script>
</head>

<body>

 <div id="main">
	<div id="left">
		<div class="lama-logo">
 			<a href="{{ urlprefix }}/">
	 			<img class="onderruimte" src="{% static 'base/images/Lama-events-logo.png' %}" alt="lama logo">
			</a>
		</div> 		
 		<br>

		<div class="over">
                        <img class="space" src="{% static 'base/images/Ned_Flag.png' %}" alt="flag netherlands" width="39" height="30">
			<p class="uitleg"><span class="vet13">Lama Events</span> is een kalender gevuld met gebeurtenissen in de nabije toekomst. De gebeurtenissen zijn volledig automatisch gedetecteerd in de grote stroom van Nederlandse tweets op Twitter.com</p>
			<a href="{{ urlprefix }}/over-lama/">
				<div class="info">meer over Lama</div>
			</a>	
		</div>

		{% block en_about %}
		<div class="about">
			<img class="space" src="{% static 'base/images/eng.png' %}" alt="flag english">
	 		<p class="uitleg"><span class="vet">Lama Events</span> is a calendar application listing events in the near future. The events are detected and selected by a fully automatic procedure in the Dutch Twitter stream.</p>
			<a href="{{ urlprefix }}/about-lama/">
				<div class="info">more about Lama</div>
			</a>
		</div>
	        {% endblock %}
	</div>

 	<div id="container">
		{% block pri_content %}{% endblock %}
	</div>

	<div id="right">
  		<form method="post" action="{% url 'calendar' %}">
  			{% csrf_token %}
			<p>selecteer datums</p>
                        {% if start_date %}
          			<input type="text" name="start_date" id="datepicker1" placeholder="{{start_date}}" value="{{start_date}}"/>
                        {% else %}
               			<input type="text" name="start_date" id="datepicker1" placeholder="startdatum"/>
                        {% endif %}
			<br>
                        {% if end_date %}
         			<input type="text" name="end_date" id="datepicker2" placeholder="{{end_date}}" value="{{end_date}}"/>
                        {% else %}
				<input type="text" name="end_date" id="datepicker2" placeholder="einddatum"/>
                        {% endif %}
  			<p>zoekwoorden</p>
                        {% if fst_key %}
	      			<input type="text" name="fst_key" id="fst_k" placeholder="{{fst_key}}" value="{{fst_key}}" />
                        {% else %}
				<input type="text" name="fst_key" id="fst_k" placeholder="eerste zoekwoord" />
                        {% endif %}
			<br>
			{% if snd_key %}
	      			<input type="text" name="snd_key" id="snd_k" placeholder="{{snd_key}}" value="{{snd_key}}" />
                        {% else %}
				<input type="text" name="snd_key" id="snd_k" placeholder="tweede zoekwoord" />
                        {% endif %}                        
 			
			<br>
			<p>evenementtypen</p>
                        <div id="zoek">
                                {% if evenementen %} <!-- evenementen is a list checkbox of the events types-->
                                        {% if 'advertisement' in evenementen %}
						<input type="checkbox" class="check" id="advertentie" name="evenementtypen" value="advertisement" checked>Advertentie <br>
					{% else %}
						<input type="checkbox" class="check" id="advertentie" name="evenementtypen" value="advertisement">Advertentie <br>
					{% endif %}

					{% if 'public event' in evenementen %}
						<input type="checkbox" class="check" id="evenement" name="evenementtypen"   value="public event" checked> Evenement <br>
					{% else %}
						<input type="checkbox" class="check" id="evenement" name="evenementtypen"   value="public event"> Evenement <br>
					{% endif %}

        	                        {% if 'politics' in evenementen %}
						<input type="checkbox" class="check" id="politiek" name="evenementtypen"   value="politics" checked> Politiek <br>
					{% else %}
						<input type="checkbox" class="check" id="politiek" name="evenementtypen"   value="politics"> Politiek <br>
					{% endif %}

					{% if 'social action' in evenementen %}
						<input type="checkbox" class="check" id="sociale_actie" name="evenementtypen"   value="social action" checked> Sociale actie <br>
					{% else %}
						<input type="checkbox" class="check" id="sociale_actie" name="evenementtypen"   value="social action"> Sociale actie <br>
					{% endif %}

					{% if 'software' in evenementen %}
						<input type="checkbox" class="check" id="software" name="evenementtypen"   value="software" checked> Software <br>
					{% else %}
						<input type="checkbox" class="check" id="software" name="evenementtypen"   value="software"> Software <br>
					{% endif %}

					{% if 'special day' in evenementen %}
						<input type="checkbox" class="check" id="speciale_dag" name="evenementtypen"   value="special day" checked> Speciale dag <br>
					{% else %}
						<input type="checkbox" class="check" id="speciale_dag" name="evenementtypen"   value="special day"> Speciale dag <br>
					{% endif %}

					{% if 'sport' in evenementen %}
						<input type="checkbox" class="check" id="sport" name="evenementtypen"   value="Sport" checked> Sport <br>
					{% else %}
						<input type="checkbox" class="check" id="sport" name="evenementtypen"   value="Sport"> Sport <br>
					{% endif %}

					{% if 'broadcast' in evenementen %}
						<input type="checkbox" class="check" id="uitzending" name="evenementtypen"   value="broadcast" checked> Uitzending <br>
					{% else %}
						<input type="checkbox" class="check" id="uitzending" name="evenementtypen"   value="broadcast"> Uitzending <br>
					{% endif %}
				{% else %}
					<input type="checkbox" class="check" id="advertentie" name="evenementtypen" value="advertisement">Advertentie <br>
        	                        <input type="checkbox" class="check" id="evenement" name="evenementtypen"   value="public event"> Evenement <br> 
					<input type="checkbox" class="check" id="politiek" name="evenementtypen"   value="politics"> Politiek <br>
					<input type="checkbox" class="check" id="sociale_actie" name="evenementtypen"   value="social action"> Sociale actie <br>
					<input type="checkbox" class="check" id="software" name="evenementtypen"   value="software"> Software <br>
					<input type="checkbox" class="check" id="speciale_dag" name="evenementtypen"   value="special day"> Speciale dag <br>
					<input type="checkbox" class="check" id="sport" name="evenementtypen"   value="sport"> Sport <br>
					<input type="checkbox" class="check" id="uitzending" name="evenementtypen"   value="broadcast"> Uitzending <br>		
				{% endif %}
			</div>
                        <p class="white-space">.</p><!--Just to have a fit space between the two checkbox lists-->
                        <p>tijdskenmerken</p>
                        <div id="zoek">
                                {% if periodic_filter %} <!--periodic_filter is a list of checkboxs time characteristics-->
                                       {%if 'periodic' in periodic_filter %}
				               <input type="checkbox" class="check" id="periodiek" name="tijdskenmerken" value="periodic" checked> Periodiek <br>
                                       {%else%}
                                               <input type="checkbox" class="check" id="periodiek" name="tijdskenmerken" value="periodic"> Periodiek <br>
                                       {%endif%}

                                       {%if 'aperiodic' in periodic_filter %}
                                               <input type="checkbox" class="check" id="voorspeld" name="tijdskenmerken"   value="aperiodic" checked> Aperiodiek
                                       {%else%}
                                               <input type="checkbox" class="check" id="voorspeld" name="tijdskenmerken"   value="aperiodic"> Aperiodiek
                                       {%endif%}
                                {%else%}
                                       <input type="checkbox" class="check" id="periodiek" name="tijdskenmerken" value="periodic"> Periodiek <br>
                                       <input type="checkbox" class="check" id="voorspeld" name="tijdskenmerken"   value="aperiodic"> Aperiodiek
                                {%endif%}
			</div>
  			<input type="submit" name="event_search" value="zoek" onclick="getValue()">
		</form>
                <hr>
		<p>legenda</p>
			</br>
			<img src="{% static 'base/images/advertentie.png' %}" alt="advertentie" height="15", width="15"> Advertentie
			</br>
			<img src="{% static 'base/images/publieke gebeurtenis.png' %}" alt="evenement" height="15", width="15"> Evenement
			</br>
			<img src="{% static 'base/images/cycle.png' %}" alt="periodiek" height="15", width="15"> Periodiek
			</br>
			<img src="{% static 'base/images/politiek.png' %}" alt="politiek" height="15", width="15"> Politiek
                        </br>
			<img src="{% static 'base/images/sociale actie.png' %}" alt="sociale actie" height="15", width="15"> Sociale actie
			</br>
			<img src="{% static 'base/images/software release.png' %}" alt="software" height="15", width="15"> Software
			</br>
			<img src="{% static 'base/images/specialdag.png' %}" alt="speciale dag" height="15", width="15"> Speciale dag
			</br>
			<img src="{% static 'base/images/sports1.png' %}" alt="sport" height="15", width="15"> Sport
			</br>
			<img src="{% static 'base/images/uitzending.png' %}" alt="uitzending" height="15", width="15"> Uitzending 
			</br>
			<img src="{% static 'base/images/forecast.png' %}" alt="voorspeld" height="15", width="15"> Voorspeld 
			</br>
                        <img src="{% static 'base/images/other.png' %}" alt="anders" height="15", width="15"> Anders
	</div>
		
	<footer>
		<div id="logocontainer">
			<hr> 
			<p class="soft">Lama events wordt mogelijk gemaakt door:</p>
			<a href="http://applejack.science.ru.nl/languagemachines/"><img src="{% static 'base/images/logo-LanguageMachines.png' %}" alt="logo Language Machines"></a>
			<a href="http://commit-nl.nl/"><img src="{% static 'base/images/logo-Commit.png' %}" alt="logo Commit"></a>
			<a href="https://twinl.surfsara.nl/"><img src="{% static 'base/images/logo-Twiqs.png' %}" alt="logo Twiqs"></a>
			<a href="http://project-infiniti.nl/"><img src="{% static 'base/images/logo-Infiniti.png' %}" alt="logo Infiniti"></a>
			<a href="http://www.ru.nl/"><img src="{% static 'base/images/logo-RU.png' %}" alt="logo Radboud Universiteit"></a>
		</div>
			
		<div class="zwart">
			<img src="http://applejack.science.ru.nl/lamabadge.php/lamaevents" style="float: right;" alt="badge">
		</div>
	</footer>
 </div>
</body>
</html>
