{% extends 'desktop/dbcon.html' %}
{% load staticfiles %}

{% block intervalseeker %}
<header> 
	<a href="{{ urlprefix }}/intervalseek/from:{{ prev3Date }}to:{{ start_date }}" class="pijl-links"> 
		<i class="pijl-icon icon-pijl-links"></i>eerder</a>
				
	<a href="{{ urlprefix }}/intervalseek/from:{{ end_date }}to:{{ nextnext3Date }}" class="pijl-rechts">later
		<i class="pijl-icon icon-pijl-rechts"></i></a>

		<h1>Events tussen {{ start_date}} en {{ end_date }}</h1>
</header>

{% endblock %}

