{% extends 'desktop/base.html' %}
{% load staticfiles %}

{% block title %}LAMA events : kalender met gebeurtenissen in de nabije toekomst{% endblock %}

{% block pri_content %}

{% block intervalseeker %}{% endblock %}

<div id="events">  
	{% if allperEventsDictList %}
                {% if foundEventsForDates %}
		        {% for x in allperEventsDictList %}
			    <section>
                                    <header><a href="{{ urlprefix }}/{{ x.dateitem }}/events">{{ x.dateitemstr }}</a></header>
                        			<div>
			                                <ul>
                 					{% for event in x.eventObj %}
		                 			<li>
				         		<a href="{{ urlprefix }}/{{ event.id }}/eventDetail">
							        {% for keys in event.entities|slice:"3" %}
								        {{ keys }}{% if forloop.last %}{% else %},{% endif %}
                 						{% endfor %}
		         					{% if event.cycle == "periodic" %}
		   						<img src="{% static 'base/images/cycle.png' %}" alt="periodic" height="15", width="15">
			        				{% endif %}
				        			{% if event.predicted %}
								<img src="{% static 'base/images/forecast.png' %}" alt="periodic" height="15", width="15">
					        		{% endif %}
                                                                {% if event.eventtype == "sport" %}
								<img src="{% static 'base/images/sports1.png' %}" alt="periodic" height="15", width="15">
					        		{% endif %}
								{% if event.eventtype == "social action"%}
								<img src="{% static 'base/images/sociale actie.png' %}" alt="periodic" height="15", width="15">
					        		{% endif %}
								{% if event.eventtype == "special day" %}
								<img src="{% static 'base/images/specialdag.png' %}" alt="periodic" height="15", width="15">
					        		{% endif %}
								{% if event.eventtype == "politics" %}
								<img src="{% static 'base/images/politiek.png' %}" alt="periodic" height="15", width="15">
					        		{% endif %}
								{% if event.eventtype == "public event" %}
								<img src="{% static 'base/images/publieke gebeurtenis.png' %}" alt="periodic" height="15", width="15">
					        		{% endif %}
								{% if event.eventtype == "software" %}
								<img src="{% static 'base/images/software release.png' %}" alt="periodic" height="15", width="15">
					        		{% endif %}
								{% if event.eventtype == "advertisement" %}
								<img src="{% static 'base/images/advertentie.png' %}" alt="periodic" height="15", width="15">
					        		{% endif %}
								{% if event.eventtype == "broadcast" %}
								<img src="{% static 'base/images/uitzending.png' %}" alt="periodic" height="15", width="15">
					        		{% endif %}
                                                                {% if event.eventtype == "other" %}
								<img src="{% static 'base/images/other.png' %}" alt="periodic" height="15", width="15">
					        		{% endif %}  
						       </a>		
					               </li>
					              {% endfor %}
                                                      </ul>
			                       </div>
                                    </section>

		        {% endfor %}
                {% else %}
                        <p class="center">Geen tweets gevonden.</p>
	                <br>
                        <p class="center large">Er zijn geen events tussen de ingevulde velden</p>
                {% endif %}
              
	{% else %}
		<p class="center large">Er is geen datum tussen de ingevulde velden</p>
                <br>
		<p class="herinnering">Herinnering: 'Einddatum' moet plaatsvinden na 'Startdatum'</p>
        {% endif %}
</div>

{% endblock %}




