{% extends 'desktop/dbcon.html' %}
{% load staticfiles %}


{% block title %}Events voor '{{ fst_key }} {{ snd_key }}'{% endblock %}

{% block css_extra %}

ul#keyword{
  width: 90%;
  margin-left: 5%;
  overflow:hidden;
}

#keyword li{
  line-height:1.5em;
  padding: 5px 0;	
  float:left;
  display:inline;
}

#keyword li  { width:50%;} <span class="code-comment">/* 2 col */</span>

{% endblock %}

{% block pri_content %}

  {% if events_bykey_list %}
  	  <header>
		  <p class="center">Events voor '{{ fst_key }} {{ snd_key }}'</p>
                  <hr>
	  </header>
	  <ul id="keyword"> <span class="dbcloumn"><!-- Alter ID accordingly --></span>
	  	  <li style="font-weight: bold;" >Zoekwoorden</li>
		  <li style="font-weight: bold;" >Aantal dagen tot het event</li>
		  {%for event in events_bykey_list %}
			  
			  <li>
			  <a href="{{ urlprefix }}/{{ event.id }}/eventDetail">
				  {% for keys in event.entities %}
					  {{ keys }}{% if forloop.last %}{% else %},{% endif %}
				  {% endfor %}
			  </a> 
			  </li>

			  <li>{{ event.timeLeft }}</li>
		  {% endfor %}
	  </ul>
  {% else %}
      <br><br>
      <p class="center">Er is geen event met de zoekwoorden '{{ fst_key }} {{ snd_key }}'</p>
  {% endif %}
{% endblock %}
