{% extends 'desktop/dbcon.html' %}

{% load staticfiles %}

{% block title %}Event Informatie{% endblock %}


{% block en_about %}
	<div class="about">
		<img class="space" src="{% static 'base/images/eng.png' %}" alt="flag englisch">
		<p class="uitleg"><span class="vet">Lama Events</span> is a calendar application listing events in the near future. The events are detected and selected by a fully automatic procedure in the Dutch Twitter stream.</p>
		<a href="{{ urlprefix }}/about-lama/">
			<div class="info">more about Lama</div>
		</a>
	</div>
{% endblock %}

{% block pri_content %}

<header>
	<a href="{{ urlprefix }}/" onClick="javascript:history.back();return false;">
		<div class="pijl-links">
			<i class="pijl-icon icon-pijl-links"></i>terug
		</div>
	</a>
	<h1 class="eenpijl">Event informatie</h1>
</header>

<div id="eventinfo">
	<section>
		<header>Sleutelwoorden voor dit event:</header>
			<div class="vet13">
				{% for keys in event.entities %}
					{{ keys }}{% if forloop.last %}{% else %},{% endif %}
				{% endfor %}
			</div>
	</section>
                
	<section>
		<header>Geschatte datum voor dit event:</header>
			<div>
				<a href="{{ urlprefix }}/{{ event.linkDate }}/events">{{ event.datestr1 }}<br><b>{{ event.datestr2 }}</br></b></a>
			</div>
	</section>
        
	<section>
		<header>Vermoedelijke locatie voor dit event:</header>
			<div>
				{% if event.location %}
					{{event.location}}
				{% else %}
					Geen locatie bekend voor deze gebeurtenis
				{% endif %}
			</div>
	</section>
</div>

<header>
	<h1>Tweets over dit event</h1>
</header>

<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
	{% if event.tweets %}
        	{% for tweet in event.tweets %}
        		<section>
				<blockquote class="twitter-tweet tw-align-center" width="500px;" margin="0px;" data-conversation="none" data-cards="hidden" lang="nl">
					<a href="https://twitter.com/{{ tweet.user }}/status/{{ tweet.id }}"></a>
				</blockquote>
			</section>
		{% endfor %}
		{% else %}
			<p class="center">Geen tweets gevonden.</p>
	                <br>
	                <p class="center large">
	               {% if event.predicted %} Voor deze gebeurtenis zijn geen tweets beschikbaar. Een mogelijke verklaring is dat de tweets inmiddels zijn verwijderd door de gebruikers, of dat de gebruikes hun account hebben stopgezet.
	               {% else %} Deze gebeurtenis is niet gebaseerd op de inhuod van tweets, maar wordt verwacht op basis van eerdere edities die periodiek plaatsvinden. Er zijn nog geen tweets geplaatst die naar deze gebeurtenis verwijzen en hier gepresenteerd kunnen worden.</p>
        	       {% endif %}

		{% endif %}

	        <center>
		<header><h3>
			{% if event.cycle == "periodic" %}
				Periodiciteit: {{ event.periodicity.description }}
			        <br><br>
				Eerdere edities:
			</h3>
		</header>
			        {% for edition in event.periodicity.editions %}
					<br>
					{% if event.datestr4 == edition.date and event.entities_str == edition.entities%}
						<a class="editie bold-black" href="{{ urlprefix }}/{{ edition.id }}/eventDetail" >
						>>   {{ edition.date }} - {{edition.entities}}   <<
						</a>
					{% else %}
						<a class="editie" href="{{ urlprefix }}/{{ edition.id }}/eventDetail">
						{{ edition.date }} - {{edition.entities}}
						</a>
 					{% endif %}
					
				{% endfor %}
			{% endif %}
        	</center>

{% endblock %}

