{% extends 'desktop/dbcon.html' %}
{% load staticfiles %}

{% block title %}Geschatte tijd tot de aanvang van het event{% endblock %}

{% block css_extra %}

#eventKeys, #timeLeft{
	width: 50%;
	padding: 5px;	
	text-align: left;
}

{% endblock %}

{% block pri_content %}

    {% if event_list %}
        <header>
            <p class="center">Events tussen {{ startHour }} en {{ endHour }}</p>
        </header>
        <table>
            <tr>
                <th id="eventKeys">Sleutelwoorden  </th>
                <th id="timeLeft">Aantal dagen tot het event </th>	
            </tr>
                {%for event in event_list %}
                    <tr>
                        <td id="eventKeys">
                            <a href="{{ urlprefix }}/{{ event.id }}/eventDetail">
                                {% for keys in event.keylist %}
                                    {{ keys }}{% if forloop.last %}{% else %},{% endif %}
                                {% endfor %}
                            </a>  
                        </td>
                        <td id="timeLeft"> {{ event.timeLeft }} </td>		
                    </tr>
                {% endfor %}
            </tr>
        </table>
    {% else %}
	<p class="center">Er zijn geen events gevonden tussen {{ startHour }} en {{ endHour }}</p>
    {% endif %}

{% endblock %}

