

body {
	margin: 0px;
	padding: 0px;
	height: 100%;
	line-height: 1.3em; 
	font-family: Genoma, sans-serif;
	font-size: 18px;
	color: #000;
	background: url(baseimages/main_pattern.png); 
}


a:link, a:visited{ 
	color: #0414b7;
	text-decoration: none;
	cursor: pointer;
}


a:hover { 
	color: #000; 
}

ul{
	text-align: center;
	line-height: 1.6em;
	padding: 0;
	list-style-type: none;
}


img {
   width: 100%; 
}


h1{
	font-size: 40px;
	font-weight: bold;	
	color: #0414b7;
}


table{
	margin-left: auto;
	margin-right: auto;
}

td{
	width: 150px;
	height: 150px;
	border: 1px solid black;
	text-align: center;
	padding: 5px;
}

#outnoeve, #outeve{
	font-size: 25px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

#outnoeve{
	background-color: #fafafd;
}

#outeve{
	background-color: #0414b7;
}

#outeve:hover{
	background-color: #fafafd;	
}

#innertd{
	background-color: #e2e5fd;	
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}


#event{
	color: #FFF;	
}

#event:hover{
	color: #0414b7;
}

#home {
	width: 20px;
	height: 20px;
	position: absolute;
}


#header, #header_link  {
	margin: 0 30px 20px 30px;
	position: relative;
	text-align: center;
}


#middle_top { 
   width: 970px; 
   height: 10px; 
   margin: 0 auto; 
   background: url(baseimages/middle_top.png) no-repeat; 
}

#middle_bottom { 
   width: 970px; 
   height: 10px; 
   margin: 0 auto; 
   background: url(baseimages/middle_bottom.png) no-repeat; 
}

#middle {
	width: 920px;
	padding: 10px 25px;
	margin: 0 auto;
	background: url(baseimages/middle_middle.png) repeat-y;
}


.footer { 
	height: 50px;
	color:#666;  
	font-size: 15px;
	text-align:center; 
	clear:both;
	padding-top: 5px;
}

#bottom_of_page {
	width: 100%;
	height: 45px;
   margin-top: 0px;
}

