

body {
	margin: 0px;
	padding: 0px;
	height: 100%;
	line-height: 1.3em; 
	font-family: Genoma, sans-serif;
	font-size: 18px;
	color: #000;
	background: url(baseimages/main_pattern.png); 
}


a:link, a:visited { 
	color: #0414b7;
	text-decoration: none;
	cursor: pointer;
}


a:hover { 
	color: #000; 
}

ul{
	text-align: left;
	line-height: 1.6em;
	padding: 0;
}

#previnp{
	text-align: center;
	list-style: none;
}

#lefter{
	text-align: left;
}

img {
   width: 100%; 
}


h1{
	font-size: 40px;
	font-weight: bold;	
	color: #0414b7;
}

button{
	background-color: #680000;
	color: #FFF;
}

input{
	width: 300px;	
}

table{

	margin-left: auto;
	margin-right: auto;
}

#home, #admin{
	width: 20px;
	height: 20px;
	position: absolute;
}

#admin{
	margin-left: 25px;
}

#tweet {
	color: #b52d2d;
	font-weight: bold;
}


#header, #header_link  {
	margin: 0 30px 20px 30px;
	position: relative;
	text-align: center;
}


#middle_top { 
   width: 970px; 
   height: 10px; 
   margin: 0 auto; 
   background: url(baseimages/middle_top.png) no-repeat; 
}

#middle_bottom { 
   width: 970px; 
   height: 10px; 
   margin: 0 auto; 
   background: url(baseimages/middle_bottom.png) no-repeat; 
}

#middle {
	width: 920px;
	padding: 10px 25px;
	margin: 0 auto;
	background: url(baseimages/middle_middle.png) repeat-y;
}


.footer { 
	height: 50px;
	color:#666;  
	font-size: 15px;
	text-align:center; 
	clear:both;
	padding-top: 5px;
}

#bottom_of_page {
	width: 100%;
	height: 45px;
   margin-top: 0px;
}

