

.ui-datepicker {
    border: 3px solid #000;
}

/* ------------- lists in the 'eventSearch' and 'ttee'; ------------- */

#eventKeys, #timeLeft{
	width: 50%;
	padding: 5px;	
}

#timeLeft{
	text-align: left;
}


/* ---------------------------- Calendar (dbcon); ---------------------------- */


#eventd, #noeventd, #innertd{
	width: 300px;
	height: 350px;
	text-align: center;
	padding: 5px;
}


#eventd, #noeventd{
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}


#innertd{
	background-color: #e2e5fd;
	margin: 0;	
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}


#noeventd{
	background-color: #aba7a7;
}


#eventd{
	background-color: #000;
}


#eventd:hover{
	background-color: #000099;	
}


#eventd a{
	color: #FFF;	
}


#eventd ul{
	height: 100%;
	overflow-x: hidden;
	margin: 0;
	font-size: 14px;
}


#eventd ul li{
	padding: 10px;
}


#eventd ul li a{
	color: #000;	
}


#eventd ul li:hover a{
	color: #FFF;	
}


#eventd ul li:nth-child(2n){
	background-color: #c9cfff;	
}


#eventd ul li:hover, #eventd ul li:nth-child(2n):hover{
	color: #FFF;
	background-color: #000099;	
}


/* ----------------------------------------------------------------- */




