{% load staticfiles %}

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="shortcut icon" href="{% static 'baseimages/logo.png' %}" />
<title>{% block title %}{% endblock %}</title>

<link rel="stylesheet" type="text/css" href="{% static 'base.css' %}" />


<script>
function goBack() {
    window.history.back()
}

function goForward() {
    window.history.forward()
}
</script>

</head>

<body>


<div id="wrapper_outer">
<div id="bottom_of_page"></div>
  <div id="wrapper_inner">
	  <div id="middle_top"></div>
	     <div id="middle">

			<div id="lilbtn">
			<img src="{% static "baseimages/forwbtn.png" %}" onclick="goForward()">
			</div>

			<div id="lilbtn"><a href="/" >
			<img src="{% static "baseimages/homebtn.png" %}" alt="homebtn"></a>
			</div>

			<div id="lilbtn">
			<img src="{% static "baseimages/backbtn.png" %}" onclick="goBack()">
			</div>

			<div id="header">
    		   
			{% block header %}{% endblock %}
  
			</div>
		
			<div id="primary">

			{% block primary %}{% endblock %}

			</div>
				
			  
        </div>
  </div>
  <div id="middle_bottom"></div>
</div>

<!--div class="footer">Mustafa Erkan Başar</div-->


<div id="bottom_of_page"></div>

</body>
</html>
