{% load staticfiles %}

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="shortcut icon" href="{% static 'base/images/logo.png' %}" />
<title>{% block title %}{% endblock %}</title>

{% block head %}{% endblock %}

<link rel="stylesheet" type="text/css" href="{% static 'base/base.css' %}" />

<script>

{% block script %}{% endblock %}

function goBack() {
    window.history.back()
}

function goForward() {
    window.history.forward()
}

</script>

</head>

<body>


<div id="wrapper_outer">
<div id="bottom_of_page"></div>
  <div id="wrapper_inner">
	  <div id="middle_top"></div>
	     <div id="middle">

			<div id="lilbtn">
			<img src="{% static 'base/images/forwbtn.png' %}" onclick="goForward()">
			</div>

			<div id="lilbtn"><a href="/" >
			<img src="{% static 'base/images/homebtn.png' %}" alt="homebtn"></a>
			</div>

			<div id="lilbtn">
			<img src="{% static 'base/images/backbtn.png' %}" onclick="goBack()">
			</div>

			<div id="header">
    		   
			{% block header %}{% endblock %}
  
			</div>
		
			<div id="primary">

			{% block primary %}{% endblock %}

			</div>
				
			  
        </div>
  </div>
  <div id="middle_bottom"></div>
</div>

<div class="footer"><a href="https://github.com/ErkanBasar/LamaEvents">GitHub : ErkanBasar/LamaEvents</a></div>


<div id="bottom_of_page"></div>

</body>
</html>
