{% load staticfiles %}

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="shortcut icon" href="{% static 'baseimages/logo.png' %}" />
<title>{% block title %}{% endblock %}</title>

<link rel="stylesheet" type="text/css" href="{% static 'base.css' %}" />


</head>

<body>


<div id="wrapper_outer">
<div id="bottom_of_page"></div>
  <div id="wrapper_inner">
	  <div id="middle_top"></div>
	     <div id="middle">
	 
		  <div id="home"><a href="/" >
		  <img id="front" src="{% static "baseimages/home.png" %}" alt="My image"></a>
		  </div>

		  <!--div id="admin"><a href="/admin" >
		  <img id="front" src="{% static "baseimages/admin.png" %}" alt="My image"></a>
		  </div-->


		  <div id="header">
    		     
		  {% block primary %}{% endblock %}

		  </div>
				
			  
        </div>
  </div>
  <div id="middle_bottom"></div>
</div>

<!--div class="footer">Mustafa Erkan Başar</div-->


<div id="bottom_of_page"></div>

</body>
</html>
